<li id="course-<%= course.id %>">
  <span class="barcode"><%= test_tube.barcode %></span>
  <span class="tube_id"><%= test_tube.tube_id %></span>
  <span class="species"><%= test_tube.species %></span>
  <span class="status"><%= test_tube.status %></span>
</li>