<li id="course-<%= course.id %>">
  <span class="title"><%=  course.title %></span>
  <span class="department"><%=  course.department %></span>
  <span class="course_number"><%=  course.course_number %></span>
</li>